/* body,
html {
    height: 100%;
} */

.bg {
    background: linear-gradient(242.48deg, rgba(242, 152, 152, 0.976471) 18.96%, rgba(242, 152, 152, 0) 89.93%);
    height: 690px !important;
    /* height: 100%; */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-home {
    position: fixed;
    bottom: 0px;
}

.card span.text-user {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    padding-left: 44px;
    padding-top: 30px;
}

.card span.text-desc {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding-top: 50px;
    padding-left: 53px;
    padding-right: 54px;
}

.card .btn-letsgo {
    background-color: #EB5858 !important;
    border-radius: 20px;
    border: none;
    /* margin-right: auto !important; */
    border-color: none;
    width: 151px;
    height: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 50px !important;
}

.main-card {
    margin-top: 60px;
    /* width: 624px; */
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px !important;
}

.card-mini {
    width: 142px;
    height: 99px;
}

.card2 {
    margin-top: 40px;
    margin-right: 50px !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px !important;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black !important;
    opacity: 1;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
}

form .form-control {
    border: none;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: transparent;
    text-align: center;
}

form .btn-letsgo {
    background-color: #EB5858 !important;
    border-radius: 20px;
    border: none;
    margin-left: auto !important;
    margin-right: auto !important;
    border-color: none;
    width: 151px;
    height: 40px;
}

form .wrapper {
    margin-left: auto;
    margin-right: auto;
    display: grid;
}

form .title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}